[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
search-engine-parser = "*"
bs4 = "*"
aiohttp = "*"
phonenumbers = "*"

[requires]
python_version = "3.8"
